body{
    color: white;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.folhape.com.br%2Fesportes%2Fcristiano-ronaldo-comemora-recorde-de-jogos-por-selecoes-com-2-gols%2F263282%2F&psig=AOvVaw3GqXv-UlI2Z3jyUpDUoiAq&ust=1680388150574000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLiAleubh_4CFQAAAAAdAAAAABAD);
}
fieldset{
    color: yellow;
    background-color: rgb(29, 3, 54);
}
table{
    background-color: rgb(7, 1, 6);
}