#tamanho{

    max-width: 1500xp;
    height: 80xp;
    text-align: center;
    background-color:firebrick;
    font-family: "Queen Love Stories free" , sans-serif";



}
#tamanho2{

    max-width: 1500xp;
    height: 400xp;
    text-align: center;
    background-color: rgb(0, 119, 255);
    font-family: "Unutterable" , sans-serif"




}    
#tamanho{

    max-width: 1500px;
    height: 70px;
    background-color:violet;
    text-align: center;
    font-family: "Figure-things" ,sans-serif";



    
}